/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  
  background-color: black;
  color: silver;
}

h1 {
  font-style: italic;
  color: salmon;
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

/*button colors*/

#button1 {
  background: mediumpurple;
}

#button2 {
  background: royalblue;
}

#button3 {
  background: olivedrab;
}

#button4 {
  background: peru;
}

#button5 {
  background: burlywood;
}

#button6 {
  background: darksalmon
}

#button1:active, #button1.lit {
  background: indigo;
}

#button2:active, #button2.lit {
  background: navy;
}

#button3:active, #button3.lit {
  background: forestgreen;
}

#button4:active, #button4.lit {
  background: orange;
}

#button5:active, #button5.lit {
  background: darkgoldenrod;
}

#button6:active, #button6.lit {
  background: maroon;
}